# Temporary Logs & Debugging
debug_payload.log
test_plot*.png

# Python & Environment
__pycache__/
*.pyc
*.pyo
venv/
.DS_Store

# Heavy Datasets (Raw data should not be tracked)
data/

# Intermediate NumPy Training Arrays 
# (These are 15MB+ each and regenerate on training)
deep_learning/X.npy
deep_learning/y.npy
